data/COSMOS_galaxies_20260618.txt
data/COSMOS_galaxies_20260618.txt:Zone.Identifier
data/cosmos_TC_202602.tar.gz.part_aa
data/cosmos_TC_202602.tar.gz.part_aa:Zone.Identifier
data/cosmos_TC_202602.tar.gz.part_aa:Zone.Identifier
